/* CSS Document */

#homeActive {display: none;}
#loginActive {display: none;}
#myAccountActive {display: none;}
#logoutActive {display: none}
#my-account-footer-menu-item{display: none}
#footerlogoutActive {display: none}